@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.seta{
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: url(imagens/seta-para-baixo.png) no-repeat;
    background-size: 40px;
    filter: invert(0.3);
    background-position: center;
    cursor: pointer;
    animation: vai-e-vem 2s linear infinite;
}

@keyframes vai-e-vem{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 20px;
    }
    100%{
        bottom: 0;
    }
}



header{
    position: fixed;
    width: 50%;
    margin-top: 30px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    transition: 0.5s;
}

header h2{
    z-index: 200;
    color: #333;
    cursor: pointer;
}

header h2 span{
    color: #11b3e4;
    margin-left: 2px;
    font-size: 14px;
}

header h2::before{
    content: '';
    position: absolute;
    top:8px;
    left: 0;
    width: 70px;
    height: 2px;
    background: #333;
}
header.sticky h2::before{
    background: #11b3e4;
}
header.sticky{
    width: 100%;
    height: 40px;
    margin-top: 0px;
    transition: 0.5s;
    animation: 0.5s;
    background-color: #111;
    display: flex;
    align-items: center;
}

header.sticky h2{
    font-size: 12px;
    color: #fff;
}

header.sticky h2::before{
    background:none;
}

header .menuToggle{
    position: fixed;
    right: 0;
    display: flex;
    width: 50px;
    height: 50px;
    background: url(imagens/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    transition: 0.3s;
    cursor: pointer;    
}
header .menuToggle.active{
    right: 0;
    background: url(imagens/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    cursor: pointer;
    filter: invert(0);
    position: fixed;
}

header.sticky .menuToggle{
    filter: invert(0);
}

header .itens{
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    list-style: none;
    transition: 1s;
    animation: 0.5s animate;
    z-index: 90;
}
@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 300px;
        height: 100vh;
    }
}

header .itens li{
    margin-top: 10px;
}

header .itens li:hover a{
    color: #11b3e4;
}
header .itens li a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}
header .itens.active{
    display: flex;
}


.inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inicio .img-box{
    position: relative;
    width: 45%;
    height: 100vh;
}

.inicio .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    box-shadow: 0 0 10px #111;
}

.img-box.sticky{
    opacity: 70%;
}

.inicio .apresentacao{
    position: relative;
    width: 55%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    color: #111;
    text-align: center;
}
.inicio .apresentacao h3{
    text-align: justify;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 20px;
}

.inicio .apresentacao h3 span{
    color: #11b3e4;
    font-weight: 700;
    font-size: 1.4em;
}

.inicio .apresentacao p{
    text-align: justify;
}

.inicio .apresentacao .redes{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.inicio .apresentacao .redes li{
    list-style: none;
}

.inicio .apresentacao .redes i{
    font-size: 1.5em;
    color: #999;
}

.inicio .apresentacao .redes i:hover{
    color: #111;
}

.inicio .apresentacao .btn-port{
    border: 1px solid #11b3e4;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: #11b3e4;
    padding: 10px 25px;
    transition: 0.3s;
}

.inicio .apresentacao .btn-port:hover{
    letter-spacing: 2px;
    color: #fff;
    background-color: #11b3e4;
}

.sobre{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}


.sobre h2, .sobre h3{
    padding-top: 50px;
    color: #000;
    border-bottom: 1px solid #999;
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.sobre .listagem{
    display: flex;
    width: 100%;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: space-around;
}

.sobre .descricao{
    padding: 10px;
    color: #333;
    font-weight: 400;
    text-align: justify;
}

.sobre .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.sobre h4{
    font-size: 16px;
    padding-top: 50px;
    color: #000;
    font-size: 12px;
}

.sobre .box img{
    width: 50px;
    height: 50px;
}

.portfolio h2{
    padding-top: 50px;
    color: #000;
    border-bottom: 1px solid #999;
    font-size: 20px;
}

.carousel-item{
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top center;
}

.carousel-caption h3{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.carousel-caption p{
    text-align: center;
}

.carousel-caption p i{
    text-transform: inherit;
}
.carousel-caption .link{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border: none;
    width: 150px;
    border-radius: 30px;
    color: #222;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #222;
}

.carousel-caption .link:hover{
    padding: 10px 12px;
}

footer{
    height: auto;
}

footer h2{
    background: #fff;
    color: #333;
}

footer .info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

footer .info li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: 10px;
}

footer .info li a{
    text-decoration: none;
    color: #111;
}

footer .info li i{
    margin: 0 10px;
}

.copyrightText{
    text-align: center;
    padding: 20px 0;
    background: #222;
}

.copyrightText p{
    color: #fff;
}

.copyrightText p a{
    text-decoration: none;
    color: #11b3e4;
    font-weight: 600;
}


.copyrightText p a:hover{
    text-decoration: underline;
}

@media (max-width:991px){
    .img-box{
        display: none;
    }
    header .itens li a{
        font-size: 22px;
        margin-top: 5px;
    }

    header{
        width: 100%;
        padding: 10px;
    }
    .inicio{
        padding-top: 100px;
    }

    .inicio .apresentacao {
        width: 100%;
        height: 100vh;
        padding: 30px;
        justify-content: initial;
    }

    header .itens {
        width: 100%;
    }

    @keyframes animate{
        0%{
            width: 0px;
            height: 0px;
        }
        100%{
            width: 100%;
            height: 100vh;
        }
    }

    .seta {
        position: relative;
        margin-top: 35px;
        order: 3;
    }
    .inicio .apresentacao .redes {
        width: 80%;
        margin-bottom: 50px;
    }
    .sobre {
        padding: 10px;
    }

    .sobre .container section .box {
        width: 100%;
        flex-direction: column;
    }
    .sobre .container section .box img{
        width: 100%;
        order: 1;
    }
    .sobre .container section .box p{
        order: 2;
        padding: 20px;
    }
    .sobre .container section h3 {
        margin-bottom: 30px;
    }
    .portfolio .container{
        height: auto;
        padding: 10px;
    }
    .portfolio .container .card {
        margin: 10px 20px;
        padding: 0px 0px;
        height: 450px;
        width: 320px;
    }
    .portfolio .container .card .content{
        opacity: 1;
        height: 250px;
        visibility: visible;
    }
    .portfolio .container .card .imgBx {
        height: 255px;
    }
    .portfolio .container .card:hover .content{
        height: 250px;
    }
    .copyrightText p {
        padding: 2px;
    }
    footer {
        padding: 10px 25px;
    }
}

@media (max-width: 400px){
    .portfolio .container .card {
        margin: 10px 0px;
        padding: 0px 0px;
        height: 460px;
    }
}


